
@{
    Layout = null;
}

<div class="container">
    <br />
    <br />
    <div class="alert alert-success">Kullanıcı Kaydet</div>
    <form method="post">
        <label>Adınız</label>
        <input type="text" class="form-control"/>
        <label>Soyadınız</label>
        <input type="text" class="form-control" />
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" />
        <label>Şifreniz</label>
        <input type="text" class="form-control" />
    </form>
</div>